<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ChillChat</title>
	<!--<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css">-->
	<script src="{{url_for('static', filename='js/api.js')}}" defer></script>
	<script src="{{url_for('static', filename='js/websocket.js')}}" defer></script>
	<script src="{{url_for('static', filename='js/visualizes.js')}}" defer></script>
	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>
	<script src="{{url_for('static', filename='js/actions.js')}}" defer></script>
	<script src="{{url_for('static', filename='js/chat.js')}}" defer></script>

	<!--Interface things.-->
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}">
	<script src="{{url_for('static', filename='js/interface.js')}}" defer></script>

</head>
<body>
	<main>
        <div class="modal-wrapper" id="modal-wrapper" style="display:none";></div>
        <div id="contextmenu-wrapper"></div>
        <div class="show-mobile mobile-navigation">
            <p class="burger-menu">&#9776</p>
            <div>adad</div>
            <p> > </p>
        </div>
        <div class="page" id="page-chat">
            <div class="chat-servers hide-mobile scrollable-vertical">
                
				<div class="chat-server home-icon" data-pagetarget="#page-dev">
                    <img src="static/images/snowflake.png" class="fluid-image image-hoverable">
                </div>

				<div id="servers"></div>

				<div class="chat-server" data-pagetarget="#page-dev">
                    <img src="https://via.placeholder.com/350x350?text=Add server" class="fluid-image image-hoverable">
                </div>

            </div>

            <div class="chat-channels hide-mobile" id="channels-wrapper">
                <div class="component-channel-list-widget">
                    <p class="icon-settings" data-pagetarget="#page-serversettings"></p>
                </div>
                <div id="channels" class="scrollable-vertical"></div>
            </div>

            <div class="chat-chat">
                <div class="chat-chatarea scrollable-vertical" id="message-area"></div>
                <div class="chat-textarea" id="chat-textarea" style="display:none;">
                    <textarea id="chat-input" placeholder="Message..."></textarea>
                    <div class="send-message" id="send-message"><p> > </p></div>
                </div>
            </div>

            <div class="chat-members hide-mobile scrollable-vertical">
                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>

                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>

                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>

                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>

                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>

                <div class="chat-component-members">
                    <p>Teppo</p>
                </div>
            </div>


        </div>
        <div class="page" id="page-settings">
            {% include "views/pages/userSettings.html" ignore missing %}
        </div>

        <div class="page" id="page-serversettings">
            {% include "views/pages/serverSettings.html" ignore missing %}
        </div>
        <div class="page" id="page-friends">Friends</div>
        <div class="page" id="page-activity">Activity</div>
        <div class="page" id="page-home">Home</div>
        <div class="page" id="page-dev">
			<div>
				<h4>Welcome to the dev zone.</h4>
				<p data-pageTarget="#page-chat">chat</p><br>
				<p data-pageTarget="#page-settings">settings</p><br>
				<p data-pageTarget="#page-activity">activity</p><br>
				<p data-pageTarget="#page-friends">friends</p>
			</div>
        </div>
        <div class="page" id="page-loading">
            {% include "views/pages/loading.html" ignore missing %}
        </div>
    </main>
</body>
</html>
