{% extends "base.html" %}

{% block head %}

    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!--Minified react for deployment -->
    <!-- <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script> -->


    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>



{% endblock %}


{% block main %}{% endblock %}







{% block endbody %}
<script type="text/babel" src="{{url_for('static', filename='js/chat.js')}}"></script>
{% endblock %}






