{% extends "base.html" %}

{% block main %}


    <div class="container-full front">
        <header class="item">
            <nav class="item">
                <a href="#" class="custom-button">Login</a>
                <a href="#" class="custom-button">Register</a>
            </nav>

            <div class="clip-deco"></div>
        </header>

        <div class="item-full content">
            <h1 class="item">
                THIS IS CONTENT
            </h1>
        
        </div>
    </div>

{% endblock %}

