{% extends "base.html" %}

{% block main %}


    <div class="fwrap-full front">
        <header class="item">
            <nav class="item">
                <div class="item-right">
                    <a href="/chat" class="custom-button">Login</a>
                    <a href="#" class="custom-button">Register</a>
                </div>
            </nav>

            <div class="clip-deco"></div>
        </header>

        <div class="item-full content">
            <h1 class="item">
                

                <div class="login-box">
                    <div>
                        <h2>Login</h2>
                    </div>
                    <form action="action" method="post" id="login-form">
                        <div class="inputs">
                            <input type="username" name="username" id="login-username">
                            <input type="password" name="username" id="login-password">
                        </div>
                        <button class="btn btn-save btn-full" type="submit">Login</button>
                    </form>
                </div>


            </h1>
        
        </div>
    </div>

{% endblock %}

