{% extends "base.html" %}

{% block main %}


    <div class="container-full front">
        <header class="item">
            <nav class="item">
                <a href="#" class="custom-button">Login</a>
                <a href="#" class="custom-button">Register</a>
            </nav>

            <div class="clip-deco">
                
            </div>
            <!-- <svg viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet">
                <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#732d93;"></path>
            </svg> -->
        </header>

        <div class="container content">
            <h1 class="item" style="margin-top: 80vh;">
                THIS IS CONTENT
            </h1>
        </div>
    </div>

{% endblock %}

