<div class="sidebar">
    <p data-pagetarget="#page-chat">Back</p>
    <h2>SERVER SETTINGS</h2>


    <div class="item" data-pagetarget="#page-settings-overview">
        <p>Overview</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-roles">
        <p>Roles</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-moderation">
        <p>Moderation</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-auditlog">
        <p>Audit Log</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-memebers">
        <p>Members</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-invites">
        <p>Invites</p>
    </div>

    <div class="item" data-pagetarget="#page-settings-bans">
        <p>Bans</p>
    </div>

    <div class="item">
        <p>Leave</p>
    </div>



</div>

<div class="content">
    <div class="page" id="page-settings-overview">
        <div>
            <img src="http://via.placeholder.com/350x350">
            <input name="server-name">
        </div>

        <div>
            <p>Main channel</p>
            <select>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>
                <option>ch1</option>

            </select>
        </div>

        <div>
            <p>Notificaiton Settings</p>
        </div>

        <div>
            <p>Custom styles</p>
            <p>Banner</p>
            <p>Invite area</p>
        </div>
    </div>
    <div class="page" id="page-settings-roles">Roles</div>
    <div class="page" id="page-settings-moderation">Moderation</div>
    <div class="page" id="page-settings-auditlog">Audit Log</div>
    <div class="page" id="page-settings-members">Members</div>
    <div class="page" id="page-settings-invites">Invites</div>
    <div class="page" id="page-settings-bans">Bans</div>
</div>