body {
  background-color: #595d66;
}

.ChatApp {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ChatApp .layout-item {
  background-color: orange;
  border: 2px solid black;
}

.ChatApp .widget {
  background-color: var(--color-primary);
  color: var(--color-font-main);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
}

.ChatApp #ChatWidget {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 800px;
  display: -ms-grid;
  display: grid;
  max-height: 500px;
}

.ChatApp #ChatWidget input, .ChatApp #ChatWidget input:focus {
  width: auto;
  min-height: 5vh;
  max-height: 5vh;
  padding-left: 5px;
  border: 2px solid var(--color-border) !important;
  border-radius: var(--special-border-radius) !important;
  background-color: var(--color-secondary);
  color: var(--color-font-main);
}

.ChatApp #ChatWidget input:hover, .ChatApp #ChatWidget input:focus:hover {
  background-color: var(--color-decoration);
}

.ChatApp #ChatWidget .chat-input::-webkit-input-placeholder {
  color: var(--color-font-main);
  bottom: 0px;
}

.ChatApp #ChatWidget .chat-input:-ms-input-placeholder {
  color: var(--color-font-main);
  bottom: 0px;
}

.ChatApp #ChatWidget .chat-input::-ms-input-placeholder {
  color: var(--color-font-main);
  bottom: 0px;
}

.ChatApp #ChatWidget .chat-input::placeholder {
  color: var(--color-font-main);
  bottom: 0px;
}

.ChatApp #ChatWidget .chat-area {
  margin: 0px;
  overflow-y: scroll;
}

.ChatApp #ChatWidget .chat-item {
  display: -ms-grid;
  display: grid;
  max-height: 150px;
  margin-bottom: 25px;
}

.ChatApp #ChatWidget .chat-item img {
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
}

.ChatApp #ChatWidget .chat-item .time {
  margin-left: 20px;
  font-size: 12px;
}

.ChatApp #ChatWidget .chat-item .embed {
  background-color: var(--color-secondary);
  padding: 0px 10px 10px 10px;
  max-width: 360px;
  border-radius: 5px;
}

.ChatApp #ChatWidget .chat-item .embed span {
  font-size: 12px;
}

.ChatApp #ChatWidget .chat-item .embed img {
  width: 350px;
  height: auto;
  border-radius: var(--special-border-radius);
}

.ChatApp #TimeWidget {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.ChatApp #NavigationWidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.ChatApp #NavigationWidget .nav-link {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 45px;
  height: 45px;
  margin-bottom: var(--setting-margin);
  background-color: var(--color-secondary);
  border-radius: var(--special-border-radius);
  border: 2px solid var(--color-border);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ChatApp #NavigationWidget .nav-link:hover {
  cursor: pointer;
  background-color: var(--color-decoration);
  -webkit-transition: var(--special-transition);
  transition: var(--special-transition);
}

.ChatApp .VisualizeUser {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
  margin-bottom: 10px;
  padding: 5px;
}

.ChatApp .VisualizeUser:hover {
  cursor: pointer;
  background-color: var(--color-decoration);
}

.ChatApp .VisualizeUser img {
  padding: 2px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: var(--color-background);
}

.ChatApp .VisualizeUser div {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.ChatApp .VisualizeUser div span {
  font-size: 20px;
}

.ChatApp .VisualizeUser div .status {
  font-size: 12px;
}
