:root {
	/*Main colors*/
	--color-background: rgb(79, 89, 104);
	--color-dark:  #282C34;
	--color-grey: #3a424d;
    --color-light: #373c46;
	--color-decoration: #21252B;
	--color-border: black;
    --color-loader: rgb(255, 255, 255);
    --color-textarea: #4b5461;

	--color-attention-bad: #eb4034;
	--color-attention-warning: #fcba03;
	--color-attention-good: #32a852;

	/*Padding and margin settings*/
	--setting-padding: 20px;
	--setting-margin: 10px;
	--setting-margin-seperate: 20px;

	/*Fonts*/
	--font-main: 'Nunito Sans', sans-serif;
	--font-base-size: 12px;
	--color-font-main: #ffffff;
	--color-font-secondary: #ffffffd8;

	/*Specials*/
	--special-border-radius: 5px;
	--special-transition: 0.25s;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');



.error {
  color: rgb(255, 0, 0);
  font-size: bold;
}

.icon-close {font-size: 1.80em; float: right;}
.icon-close:hover, .icon-settings:hover {cursor: pointer; color: #ff4000; transition: var(--item-transition);}
.icon-close::after {content: " X";}

.icon-settings::after {content: "⚙️";}
.icon-settings:hover {
  color:rgb(255, 255, 255);
}

.icon-arrowleft::after {content: "🡐";}
.icon-arrowleft:hover {
  color:rgb(255, 255, 255);
}

/*Custom scrollbar*/
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #2d313a; }
::-webkit-scrollbar-thumb {background: var(--color-decoration); }
::-webkit-scrollbar-thumb:hover {background: #555; }


textarea,input,select {
  all: unset;
  background-color: var(--color-textarea);
  padding: 10px;
  border: 3px solid var(--color-light);
  border-radius: var(--setting-border-radius);
  color: var(--color-font-main);
  box-shadow: 0px 0px 0px 0px #a5a0a0;
}

textarea:focus,input:focus,select:focus {
  box-shadow: 0px 0px 3px 0px #a5a0a0;
  transition: var(--special-transition)
}

textarea::placeholder ,input::placeholder,select::placeholder {
  color: #bdb5b5;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 3px solid var(--color-light);
	padding: 0.375rem 0.75rem;
	font-size: 0.9375rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	cursor: pointer;
}


.btn-green {
	color: #ffffff;
	background-color: #5cff77;
}

.btn-green:hover {
	color: #ffffff;
	background-color: #80e466;
}

.btn-full {
	width: 100%;
}

.hide {
	display: none;
}

