@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
:root {
  /*Main colors*/
  --color-background: #ebe7f0;
  --color-primary:  #282C34;
  --color-secondary: #3a424d;
  --color-decoration: #21252B;
  --color-border: black;
  --color-attention-bad: #eb4034;
  --color-attention-warning: #fcba03;
  --color-attention-good: #32a852;
  /*Padding and margin settings*/
  --setting-padding: 20px;
  --setting-margin: 10px;
  --setting-margin-seperate: 20px;
  /*Fonts*/
  --font-main: 'Nunito Sans', sans-serif;
  --font-base-size: 12px;
  --color-font-main: #ffffff;
  --color-font-secondary: #ffffffd8;
  /*Specials*/
  --special-border-radius: 5px;
  --special-transition: 0.25s;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-main);
  background-color: var(--color-background);
}

body .item {
  font-size: 16px;
}

button, textarea, input, a {
  margin-top: 10px;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-button {
  margin: 5px;
  background-color: #702293;
  border-radius: 20px;
  padding: 5px;
  padding-top: 9px;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  text-align: center;
  border: 1px solid #5d1050cf;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: var(--special-transition);
  transition: var(--special-transition);
}

.custom-button:hover {
  background-color: #8e2abd;
}

.front header {
  width: 100vw;
}

.front nav {
  background-color: #541f6c;
  color: white;
  min-height: 5vh;
  width: 100%;
  position: fixed;
}

.front .content {
  background-color: orange;
}

.front .clip-deco {
  background-color: #732d93;
  background-image: url("../images/frontheader.jpg");
  height: 35vh;
  width: 100vw;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 20px 4px #000000;
          box-shadow: 0px 0px 20px 4px #000000;
}

.type-translucent {
  background-color: rgba(255, 255, 255, 0.1);
}

.fwrap, .fwrap-full, .fwrap-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fwrap .item, .fwrap .item-nowrap, .fwrap .item-full, .fwrap .item-right, .fwrap-full .item, .fwrap-full .item-nowrap, .fwrap-full .item-full, .fwrap-full .item-right, .fwrap-centered .item, .fwrap-centered .item-nowrap, .fwrap-centered .item-full, .fwrap-centered .item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fwrap .item-full, .fwrap-full .item-full, .fwrap-centered .item-full {
  width: 100%;
}

.fwrap .item-nowrap, .fwrap-full .item-nowrap, .fwrap-centered .item-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fwrap .item-right, .fwrap-full .item-right, .fwrap-centered .item-right {
  margin-left: auto;
}

.fwrap-full {
  min-width: 100%;
}

.fwrap-centered {
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
}

.fcenter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
