:root {
	/*Main colors*/
	--color-background: rgb(79, 89, 104);
	--color-dark:  #282C34;
	--color-grey: #3a424d;
    --color-light: #373c46;
	--color-decoration: #21252B;
	--color-border: black;
    --color-loader: rgb(255, 255, 255);
    --color-textarea: #4b5461;

	--color-attention-bad: #eb4034;
	--color-attention-warning: #fcba03;
	--color-attention-good: #32a852;

	/*Padding and margin settings*/
	--setting-padding: 20px;
	--setting-margin: 10px;
	--setting-margin-seperate: 20px;

	/*Fonts*/
	--font-main: 'Nunito Sans', sans-serif;
	--font-base-size: 12px;
	--color-font-main: #ffffff;
	--color-font-secondary: #ffffffd8;

	/*Specials*/
	--special-border-radius: 5px;
	--special-transition: 0.25s;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.error {
    color: rgb(255, 0, 0);
    font-size: bold;
}

.icon-close {font-size: 1.80em; float: right;}
.icon-close:hover, .icon-settings:hover {cursor: pointer; color: #ff4000; transition: var(--item-transition);}
.icon-close::after {content: " X";}

.icon-settings::after {content: "⚙️";}
.icon-settings:hover {
    color:rgb(255, 255, 255);
}

.icon-arrowleft::after {content: "🡐";}
.icon-arrowleft:hover {
    color:rgb(255, 255, 255);
}


/*For custom scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #2d313a; 
}
   
::-webkit-scrollbar-thumb {
    background: var(--color-decoration); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: var(--color-font-main);
    margin: 0px;
    padding: 0px;
    background-color: var(--color-background);
}

.fluid-image {
    width: 100%;
    height: 100%;
}

.scrollable-vertical {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollable-vertical::-webkit-scrollbar {
    display: none;
}

.info {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color:orange;
    width:75px;
    height: 75px;
}

#contextmenu-wrapper {

}

.contextmenu {
    font-size: 20px;
    position: absolute;
    z-index: 500;
    min-width: 150px;
    min-height: 300px;
    background-color:  var(--color-dark);
    border-radius: var(--setting-border-radius);
    color: white;

    display:flex;
    flex-direction: column;
    padding: 10px;
}

.contextmenu .item {
    cursor: pointer;
    background-color: rgb(104, 94, 97);
    margin-top: 10px;
    padding: 10px;
}

.contextmenu .item:hover {
    background-color: rgba(104, 94, 97, 0.623);
}

.contextmenu .hover-content:hover .content {
    display: flex;
}

.contextmenu .item .content {
    display: none;
    flex-direction: column;
}

.contextmenu .header {
    font-weight: bold;
    text-align: center;
}

main {
    display:flex;
    flex-direction: column;
}


/*
Under element which has page class should be all stuff for certain page. For example chat. All classes under this "page-chat" class should start with prefix "chat-"
*/

main {
    max-height: 100vh;
    overflow: hidden;
}

main .page {
    background-color: var(--color-background);
    min-height: 100vh;
    display: none;
}

.image-hoverable {
    cursor: pointer;
    filter: opacity(80%);
}

.image-hoverable:hover {
    filter: opacity(100%);
    transition: 0.25s;
}


#page-loading {
    background-color: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;  
}

#page-dev * {
    display: block;
}

#page-home {
    display: flex;
    flex-direction: column;
}

#page-home p {
    cursor: pointer;
}

#page-chat {
    display:flex;
}

#page-chat .chat-servers {
    background-color: var(--color-dark);
   
    display: flex;
    flex-grow: auto;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    min-width: 7%;
}

#page-chat .chat-servers .chat-component-server {
    display:flex;
    justify-content: center;
    margin-top: 15px;
}

#page-chat .chat-servers .chat-component-server img {
    min-width: 50px;
    min-height: auto;
    max-width: 75px;
    max-height: 75px;
    border-radius: 100%;
    padding: 5px;
}

#page-chat .chat-channels {
    background-color: var(--color-grey);
    display:flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 7%;
    overflow-x: hidden;
}

#page-chat .chat-channels .user {
    background-color: var(--color-dark);
    display: flex;
    padding: 5px;
}

#page-chat .chat-channels .user img {
    width: 50px;
    height: 50px;
}

#page-chat .chat-channels .user p {
    margin-left: 5px;
}

#page-chat .chat-channels .user .icon-settings {
    background-color: orange;
    width: 100%;
    flex-basis: 100%;
}

#page-chat .chat-channels .component-channel-list-widget {
    display: flex;
}

#page-chat .chat-channels .component-channel-list-widget img {
    width: 50px;
    height: 50px;
}

#page-chat .chat-channels .chat-component-channel {
    color: var(--color-font-main);
    margin: 0px;
    padding: 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

#page-chat .chat-chat {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#page-chat .chat-chat div {

}

#page-chat .chat-chat .chat-chatarea {
    padding-right: var(--setting-padding);
    min-height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    max-width: 700px;

}

#page-chat .chat-chat .chat-chatarea .chat-component-message {
    padding-left: var(--setting-padding);
    margin-top: var(--setting-margin-seperate);
    border-bottom: 1px solid var(--setting-border-bottom);
    display:flex;
    flex-direction: row;
}

#page-chat .chat-chat .chat-chatarea .chat-component-message .user img {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    border-radius: var(--special-border-radius);
}

/*
#page-chat .chat-chat .chat-chatarea .chat-component-message div p {
    padding-left: var(--setting-padding);
    flex-grow: 1;
}
*/

#page-chat .chat-chat .chat-chatarea .chat-component-message div {
    padding-left: var(--setting-padding);
}

#page-chat .chat-chat .chat-chatarea .chat-component-message .chat-embed-content {
    /*
    background-color: var(--color-dark);
    border-radius: var(--setting-border-radius);
    padding: var(--settings-padding);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    */
    display:flex;
    flex-direction: column;






}

#page-chat .chat-chat .chat-chatarea .chat-component-message .chat-embed-content img {
    /*
    flex-basis: 50%;
    max-width: 30vw;
    margin: var(--setting-padding);
    */
    max-width: 350px;
    margin-top: var(--setting-margin);

}

.chat-textarea {
    display: none;
    align-items: center;
}

.chat-textarea textarea {
    all: unset;
    margin-left: 20px;
    flex-grow: 1;
    border:2px solid black;
    background-color: var(--color-textarea);
}

.chat-textarea .send-message {
    background-color:darkslategrey;
    color: white;
    width: 75px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid darkslategrey;
}

.chat-textarea .send-message:hover{
    cursor: pointer;
    border: 2px solid white;
    transition: 0.25s;
}


.chat-members {
    background-color: var(--color-grey);
    display: flex;
    flex-direction: column;
    min-width: 7%;
}

#page-chat .chat-members .chat-component-members{
    padding: 20px;
}

#modal-wrapper {
    position:fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.493);
    z-index: 100;
    color: #ffffff;
}

#modal-wrapper .modal {
    color: black;
    max-height: 250px;
    background-color:#ffffffd2;
    border: 2px soldi black;
    position: absolute;
    display: flex;
    flex-direction: column;
}

#modal-wrapper .modal .title {
    padding: 10px;
    border: 1px solid black;
    background-color:rgb(73, 73, 177);
}

#modal-wrapper .modal code {
    min-height:150px;
    padding: 10px;
}

#modal-ok {
    all:unset;
    background-color: #ffffff;
    cursor: pointer;
    width: 80%;
    height: 25px;
    padding: 5 20 5 20;
    border-radius: 5px;
    border: 3px solid green;
    text-align: center;
}

#modal-ok:hover {
    background-color:#cac4c4;
    border: 3px solid #cfcfcfcf;
}

.mobile-navigation {
    display:flex;
    flex-direction: row;
}

.mobile-navigation .burger-menu {
    font-size: 30px;
    text-align: center;
    flex-grow: 1;
}

.show-mobile {
    display: none;
}
/*600*/
@media only all and (max-width: 800px) {
    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: flex;
    }
}







/*Setting page styles.*/

#page-serversettings {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#page-serversettings .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    flex-basis: 15%;
}

#page-serversettings .sidebar div {
    
}

#page-serversettings .content {
    flex-grow: 1;
}
