<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>ChillChat</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    {% block head %}{% endblock %}
</head>
<body>

    <div id="devpanel">
        <p>Devzone</p>
        <pre>
            <code>
                {{session.get('token')}}
                {{member}}<br>
                {{member.token}}<br>
                {{member.servers}}
                {% for i in member.servers.values() %}
                    {{i.channels}}
                {% endfor %}
                <!--  for i in member.servers[1].channels[2].messages %}
                    i.content}}<br>
                 endfor %} -->
            </code>
        </pre>
    </div>

    <main>



        {% block main %}{% endblock %}
    </main>

    <script>
        // function test(token) {
        //     let sock = new WebSocket("ws://127.0.0.1:5000/v1/gateway/");
        //         sock.onmessage = async function(event) {
        //             console.log(`Data ${event.data}`)
        //             if (event.data == "HEARTBEAT") {
        //                 await sock.send("ACK_HEARTBEAT")
        //                 console.log("Acknowledging heartbeat")
        //             }
        //         }
        //         sock.onopen = async function() {
        //             await sock.send(`IDENTIFY ${token}`);
        //     }
        // }
    </script>

    {% block endbody %}{% endblock %}
    
</body>
</html>