<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChillChat</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <main>
        {% block main %}{% endblock %}
    </main>

    <script>
        function test(token) {
            let sock = new WebSocket("ws://127.0.0.1:5000/v1/gateway/");
                sock.onmessage = async function(event) {
                    console.log(`Data ${event.data}`)
                    if (event.data == "HEARTBEAT") {
                        await sock.send("ACK_HEARTBEAT")
                        console.log("Acknowledging heartbeat")
                    }
                }
                sock.onopen = async function() {
                    await sock.send(`IDENTIFY ${token}`);
            }
        }
    </script>

    {% block endbody %}{% endblock %}
    
</body>
</html>