<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>ChillChat</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/front.css')}}">
    <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/front.js')}}" defer></script>
    

    {% block head %}{% endblock %}
</head>
<body>
    <main>{% block main %}{% endblock %}</main>
    {% block endbody %}{% endblock %}
</body>
</html>